body{
   background-color: black;
   background-image: url("imagenes/fondo.jpg");
    color: cyan;
    padding-left: 10px;
}
a{
    color: white;
}

h1{
font-size: 45px;
}
*{
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}
a{
    text-decoration: none;
}
footer{
font-size: smaller;
padding-left: 20px;
color: gainsboro;
text-align: center;
}
p{
    margin-left: 30px;
}
h1,h2{
    color: gainsboro;
}
b{
    color: gainsboro;
}